<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width"/>
	<link rel="stylesheet" href="/css/ink.css">
  <style>
    .template-label {
      color: #ffffff;
      font-weight: bold;
      font-size: 11px;
    }

    .callout .wrapper {
      padding-bottom: 20px;
    }

    .callout .panel {
      background: #ECF8FF;
      border-color: #b9e5ff;
    }
    .header {
      background: #fffff;
    }
    h4 {
        border-bottom: 1px solid #39b54a;
        margin-bottom: 28px;
    }
    h6 {
      padding-bottom: 20px;
    }
    a {
        color:#39b54a !important;
    }
    .contact {
      background: #f5f5f5;
    }
    .top-pad {
        padding-top:20px !important;
    }
    .bottom-pad {
        padding-bottom:20px !important;
    }

    .footer {
        background:#39b54a;
    }
    .footer p {
        font-size:10px; 
        color:#ffffff;
    }
    table.columns .text-pad {
      padding-left: 10px;
      padding-right: 10px;
    }

    table.columns .left-text-pad {
      padding-left: 10px;
    }

    table.columns .right-text-pad {
      padding-right: 10px;
    }

    @media only screen and (max-width: 600px) {

      table[class="body"] .right-text-pad {
        padding-left: 10px !important;
      }

      table[class="body"] .left-text-pad {
        padding-right: 10px !important;
      }
    }

	</style>
</head>
<body>
	<table class="body">
		<tr>
			<td class="center" align="center" valign="top">
        <center>

          <table class="row header">
            <tr>
              <td class="center" align="center">
                <center>

                  <table class="container">
                    <tr>
                      <td class="wrapper last top-pad">

                        <table class="twelve columns">
                          <tr>
                            <td class="six sub-columns">
                              <img src="http://cvd.briefyourmarket.com/Images/OIS/OIS_logo.png" alt="One Insurance Solution" width="105" height="62"/>
                            </td>
                            <td class="expander"></td>
                          </tr>
                        </table>

                      </td>
                    </tr>
                  </table>

                </center>
              </td>
            </tr>
          </table>

          <table class="container">
            <tr>
              <td>

                <table class="row">
                  <tr>
                    <td class="wrapper last bottom-pad">

                      <table class="twelve columns">
                        <tr>
                          <td>
                            <h4>Thank you</h4>
                              <p class="lead">We've successfully received the form you submitted on our website with the following details.</p>
                              <ul>
                                  <li>First name: #firstName#</li>
                                  <li>Surname: #surname#</li>
                                  <li>Phone number: #phoneNumber#</li>
                                  <li>Phone number: #phoneNumber#</li>
                                  <li>Message: #message#</li>
                              </ul>
                              <p>One of our customer support team will review your enquiry and be in touch soon.</p>
                              <p>Kind regards,</p>
                              <p><strong>One Insurance Solution</strong></p>
                          </td>
                          <td class="expander"></td>
                        </tr>
                      </table>

                    </td>
                  </tr>
                </table>
            </table>
            <table class="row contact">
                <tr>
                    <td class="center" align="center">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>
                                        <table class="row">
                                            <tr>
                                                <td class="wrapper last top-pad">
                                                    <table class="twelve columns">
                                                        <tr>
                                                            <td>
                                                                <h6>Need any help?</h6>
                                                                <p>You may be able to find the answers you need in our <a href="http://www.oneinsurancesolution.co.uk/faq" target="_blank">FAQs</a> or your can give us a call.</p>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="row">
                                            <tr>
                                                <td class="wrapper">
                                                    <table class="six columns">
                                                        <tr>
                                                            <td>
                                                                <p><strong>Customer services<br /><a href="tel:0333 222 1055">0333 222 1055</a></strong></p>

                                                                <p><strong>Get a quote<br /><a href="tel:0845 521 1311">0845 521 1311</a></strong></p>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td class="wrapper last">
                                                    <table class="six columns">
                                                        <tr>
                                                            <td>
                                                                <p><strong>Opening hours:</strong><br />
                                                                    Monday to Friday 9am to 6pm<br />
                                                                    Saturday 9am to 1pm </p>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>   
            <table class="row footer">
                <tr>
                    <td class="center" align="center">
                        <center>

                            <table class="container">
                                <tr>
                                    <td>
                                        <table class="row">
                                            <tr>
                                                <td class="wrapper last">
                                                    <table class="twelve columns">
                                                        <tr>
                                                            <td>
                                                                <p class="small">One Insurance Solution is a trading style of Brightside Insurance Services Ltd who is authorised and regulated by the Financial Conduct Authority (Firm Reference Number 302216). Registered in England and Wales No. 04137311. Registered Office: Brightside Park, Severn Bridge, Aust, Bristol BS35 4BL.</p>
                                                            </td>
                                                            <td class="expander"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>

                        </center>
                    </td>
                </tr>
            </table>
              <!-- container end below -->
              </td>
            </tr>
          </table>

        </center>
			</td>
		</tr>
	</table>
</body>
</html>